@keyframes tipfyLeftTop {
  from {
    transform: translate(0, 10px);
  }
  to {
    transform: translate(0, 5px);
  }
}

@keyframes tipfyLeftBottom {
  from {
    transform: translate(0, -10px);
  }
  to {
    transform: translate(0, -5px);
  }
}

@keyframes tipfyRightTop {
  from {
    transform: translate(5px, 10px);
  }
  to {
    transform: translate(5px, 5px);
  }
}

@keyframes tipfyRightBottom {
  from {
    transform: translate(5px, -10px);
  }
  to {
    transform: translate(5px, -5px);
  }
}

@keyframes tipfyTop {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(-5px);
  }
}

@keyframes tipfyBottom {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(5px);
  }
}

@keyframes tipfyLeft {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(-5px);
  }
}

@keyframes tipfyRight {
  from {
    transform: translateX(10px);
  }
  to {
    transform: translateX(5px);
  }
}

.tipfy {
  position: absolute;
  padding: 10px;
  max-width: 300px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.tipfy:before {
  content: '';
  position: absolute;
  border: 5px solid transparent;
}

.tipfy--top:before {
  bottom: 100%;
  border-bottom-color: rgba(0, 0, 0, 0.8);
  border-top-style: none;
}

.tipfy--bottom:before {
  top: 100%;
  border-top-color: rgba(0, 0, 0, 0.8);
  border-bottom-style: none;
}

.tipfy--left.tipfy--top {
  animation: tipfyLeftTop 0.2s forwards;
}

.tipfy--left.tipfy--top:before {
  left: 5px;
}

.tipfy--left.tipfy--bottom {
  animation: tipfyLeftBottom 0.2s forwards;
}

.tipfy--left.tipfy--bottom:before {
  left: 5px;
}

.tipfy--right.tipfy--top {
  animation: tipfyRightTop 0.2s forwards;
}

.tipfy--right.tipfy--top:before {
  right: 5px;
}

.tipfy--right.tipfy--bottom {
  animation: tipfyRightBottom 0.2s forwards;
}

.tipfy--right.tipfy--bottom:before {
  right: 5px;
}

.tipfy--side-right {
  animation: tipfyRight 0.2s forwards;
}

.tipfy--side-right:before {
  right: 100%;
  border-right-color: rgba(0, 0, 0, 0.8);
  border-left-style: none;
  top: 50%;
  transform: translateY(-50%);
}

.tipfy--side-left {
  animation: tipfyLeft 0.2s forwards;
}

.tipfy--side-left:before {
  left: 100%;
  border-left-color: rgba(0, 0, 0, 0.8);
  border-right-style: none;
  top: 50%;
  transform: translateY(-50%);
}

.tipfy--side-top {
  animation: tipfyTop 0.2s forwards;
}

.tipfy--side-top:before {
  left: 50%;
  border-top-color: rgba(0, 0, 0, 0.8);
  border-bottom-style: none;
  top: 100%;
  transform: translateX(-50%);
}

.tipfy--side-bottom {
  animation: tipfyBottom 0.2s forwards;
}

.tipfy--side-bottom:before {
  left: 50%;
  border-bottom-color: rgba(0, 0, 0, 0.8);
  border-top-style: none;
  bottom: 100%;
  transform: translateX(-50%);
}

.tipfy--side-auto:before {
  left: 50%;
  transform: translateX(-50%);
}
