:root {
  --tipfyBackground: rgba(0, 0, 0, .8);
  --tipfyColor: #fff;
  --tipfyArrow: 5px;
  --tipfyAnimation: 0.2s;
}

@keyframes tipfyLeftTop {
  from {
    transform: translate(0, calc(var(--tipfyArrow) * 2));
  }
  to {
    transform: translate(0, var(--tipfyArrow));
  }
}

@keyframes tipfyLeftBottom {
  from {
    transform: translate(0, calc(var(--tipfyArrow) * -2));
  }
  to {
    transform: translate(0, calc(var(--tipfyArrow) * -1));
  }
}

@keyframes tipfyRightTop {
  from {
    transform: translate(var(--tipfyArrow), calc(var(--tipfyArrow) * 2));
  }
  to {
    transform: translate(var(--tipfyArrow), var(--tipfyArrow));
  }
}

@keyframes tipfyRightBottom {
  from {
    transform: translate(var(--tipfyArrow), calc(var(--tipfyArrow) * -2));
  }
  to {
    transform: translate(var(--tipfyArrow), calc(var(--tipfyArrow) * -1));
  }
}

@keyframes tipfyTop {
  from {
    transform: translateY(calc(var(--tipfyArrow) * -2));
  }
  to {
    transform: translateY(calc(var(--tipfyArrow) * -1));
  }
}

@keyframes tipfyBottom {
  from {
    transform: translateY(calc(var(--tipfyArrow) * 2));
  }
  to {
    transform: translateY(var(--tipfyArrow));
  }
}

@keyframes tipfyLeft {
  from {
    transform: translateX(calc(var(--tipfyArrow) * -2));
  }
  to {
    transform: translateX(calc(var(--tipfyArrow) * -1));
  }
}

@keyframes tipfyRight {
  from {
    transform: translateX(calc(var(--tipfyArrow) * 2));
  }
  to {
    transform: translateX(var(--tipfyArrow));
  }
}

.tipfy {
  position: absolute;
  padding: 10px;
  max-width: 300px;
  border-radius: 3px;
  background-color: var(--tipfyBackground);
  color: var(--tipfyColor);
}

.tipfy:before {
  content: '';
  position: absolute;
  border: var(--tipfyArrow) solid transparent;
}

.tipfy--top:before {
  bottom: 100%;
  border-bottom-color: var(--tipfyBackground);
  border-top-style: none;
}

.tipfy--bottom:before {
  top: 100%;
  border-top-color: var(--tipfyBackground);
  border-bottom-style: none;
}

.tipfy--left.tipfy--top {
  animation: tipfyLeftTop var(--tipfyAnimation) forwards;
}

.tipfy--left.tipfy--top:before {
  left: var(--tipfyArrow);
}

.tipfy--left.tipfy--bottom {
  animation: tipfyLeftBottom var(--tipfyAnimation) forwards;
}

.tipfy--left.tipfy--bottom:before {
  left: var(--tipfyArrow);
}

.tipfy--right.tipfy--top {
  animation: tipfyRightTop var(--tipfyAnimation) forwards;
}

.tipfy--right.tipfy--top:before {
  right: var(--tipfyArrow);
}

.tipfy--right.tipfy--bottom {
  animation: tipfyRightBottom var(--tipfyAnimation) forwards;
}

.tipfy--right.tipfy--bottom:before {
  right: var(--tipfyArrow);
}

.tipfy--side-right {
  animation: tipfyRight var(--tipfyAnimation) forwards;
}

.tipfy--side-right:before {
  right: 100%;
  border-right-color: var(--tipfyBackground);
  border-left-style: none;
  top: 50%;
  transform: translateY(-50%);
}

.tipfy--side-left {
  animation: tipfyLeft var(--tipfyAnimation) forwards;
}

.tipfy--side-left:before {
  left: 100%;
  border-left-color: var(--tipfyBackground);
  border-right-style: none;
  top: 50%;
  transform: translateY(-50%);
}

.tipfy--side-top {
  animation: tipfyTop var(--tipfyAnimation) forwards;
}

.tipfy--side-top:before {
  left: 50%;
  border-top-color: var(--tipfyBackground);
  border-bottom-style: none;
  top: 100%;
  transform: translateX(-50%);
}

.tipfy--side-bottom {
  animation: tipfyBottom var(--tipfyAnimation) forwards;
}

.tipfy--side-bottom:before {
  left: 50%;
  border-bottom-color: var(--tipfyBackground);
  border-top-style: none;
  bottom: 100%;
  transform: translateX(-50%);
}

.tipfy--side-auto:before {
  left: 50%;
  transform: translateX(-50%);
}
